body{
    font-family: sans-serif;
    background-color: gold;
    color: #333;
    margin: 0;
    padding: 0;
}
header{
    background-color: brown;
    padding: 20px;
    text-align: center;
    color: white;
}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
main{
    background-color: gold;
    padding: 20px;
    text-align: center;
    color: brown;
}
footer{
    background-color: brown;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #000;
}
img{
    margin: 10px;
    border: 5px solid brown;
    border: radius;
}
button{
    background-color: brown;
}
h2{
    color: brown;
}
b{
    color: gold;
}
h1{
    color: gold;
}